body {
    background-color: #000000;
}

p {
    color: white;
    text-align: center;
}

h2 {
    text-align: center;
    color: white;
}

.center {
    width: 726px;
    height: 726px;
    margin: auto;
}

.canv-cont {
    height: 726px;
    width: 726px;
    margin: auto;
}



.flex-cont {
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 30%;
}

.flex-item {
    flex-grow: 2;
    flex-basis: 40%;
    margin: 5px 5px 0px 5px;
}